@import '@/assets/styles/myvariables.scss';
@import '@/assets/styles/animation.scss';

body {
	font-size: $font-size;
	color: $text-color;
	background-color: #0000001a;
	// background: #ccc;
}

.container {
	padding-left: 1rem;
	padding-right: 1rem;
	@media screen and (max-width: 1800px) {
		max-width: 1200px;
		margin: 0 auto;
	}
	.zag {
		font-size: 1.4rem;
	}
}
.my-ripple-class {
	background: white;
	opacity: 0.2;
}

.q-drawer {
	background: transparent;
}
.date {
	margin-top: 35px;
	background: transparent;
	.q-date__header {
		display: none;
	}
}
