@import '@/assets/styles/myvariables.scss';
@import '@/assets/styles/animation.scss';

body {
	font-size: $font-size;
	color: $text-color;
	background-color: #0000001a;
	background-color: #ececec;
	// background: #ccc;
}

.container {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 1200px;
	margin: 0 auto;
	// @media screen and (max-width: 1850px) {
	// 	max-width: 1200px;
	// 	margin: 0 auto;
	// }
	.zag {
		font-size: 1.2rem;
	}
}
.my-ripple-class {
	background: white;
	opacity: 0.2;
}

.q-drawer {
	background: transparent;
}
.date {
	margin-top: 35px;
	background: transparent;
	.q-date__header {
		display: none;
	}
}

.rdrawer {
	padding: 1.5rem 1rem 0 0;
}
.q-card {
	border-radius: $radius-md;
	box-shadow: $card-shadow;
	cursor: pointer;
}
.notific {
	transition: all 0.4s ease;
}
