@import '@/assets/styles/myvariables.scss';
@import '@/assets/styles/animation.scss';

body {
	font-size: $font-size;
	color: $text-color;
	// background-color: #0000001a;
	background-color: $mainBg;
}

.container {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 1200px;
	margin: 0 auto;
	// @media screen and (max-width: 1850px) {
	// 	max-width: 1200px;
	// 	margin: 0 auto;
	// }
	.zag {
		font-size: 1.2rem;
	}
}
.my-ripple-class {
	background: white;
	opacity: 0.2;
}

.q-drawer {
	background: $mainBg;
	.rd {
		padding: 1rem;
		box-shadow: -1px 0 3px rgba(0, 0, 0, 0.3);
	}
}
.date {
	margin-top: 35px;
	background: transparent;
	.q-date__header {
		display: none;
	}
}

.q-card {
	border-radius: $radius-md;
	box-shadow: $card-shadow;
	cursor: pointer;
}
.notific {
	transition: all 0.4s ease;
}
.q-chip--selected {
	background: $primary;
	color: white;
	.q-chip__icon {
		color: inherit;
	}
}

.keys input {
	padding-left: 1rem;
}
.keys .q-chip__icon--remove {
	display: none;
}
.q-item--active {
	background: $selectionBg;
}
